<h1>Welcome#index</h1>

<div id="body_list">
 <table>
   <% @articles.each do |article| %>
     <td><%= article.title %></td>
     <td><%= article.abstract %></td>
     <td><p><%= article.main_body %></p></td>

     <td>
       <% article.keyword_list.each do |keyword|  %>
         <%= link_to keyword, { :action => :index, :controller => :tagged_post, :tag_name=> keyword } %>
       <% end %>
     </td>


   <% end %>
 </table>
</div>
