<h3>Welcome#index</h3>

<div id="body_list">
 <table>
   <% @articles.each do |article| %>
     <h1><%= article.title %></h1>
     <p><%= article.abstract %></p>
     <p><%= raw article.main_body %></p>

     <p> keyword: 
       <% article.keyword_list.each do |keyword|  %>
         <%= link_to keyword, { :action => :index, 
           :controller => :tagged_post, 
           :tag_name=> keyword } %>
       <% end %>
     </p>


   <% end %>
 </table>
</div>
