<% @articles.each do |article| %>
  <div id="title_counter">
    <h2><%= article.title %></h2>
    <h1><%= @cmt_counter[article.id] %></h1>
  </div>

  <div id="main_body">
    <p><%= raw article.main_body %></p>

    <p> keyword: 
    <% article.keyword_list.each do |keyword|  %>
      <%= link_to keyword, { :action => :index, 
        :controller => :tagged_post, 
        :tag_name=> keyword }
      %>
    <% end %>
    </p>
  </div>
<% end %>
