<br />
<% @related_cmts.each do |cmt| %>
  <b><%= cmt.name %></b>

  <div id="round">
    <b class="xtop">
      <b class="xb1"></b>
      <b class="xb2"></b>
      <b class="xb3"></b>
      <b class="xb4"></b>
    </b>
    <div class="xboxcontent">
      <p><%= cmt.review %></p>
    </div>
    <b class="xbottom">
      <b class="xb4"></b>
      <b class="xb3"></b>
      <b class="xb2"></b>
      <b class="xb1"></b>
    </b>
  </div>

<% end %>
